@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

* {
  font-family: sans-serif;
}

.navbar {
  background-color: #ff8300;
  height: 6vh;
  display: flex;
  align-items: center;
  box-shadow: -1px 3px 3px 0 rgba(0, 0, 0, 0.2);
}
.stickyNav {
  z-index: 9999992;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}
.navbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
}

/* .border1 {
  border: 1px solid rgba(0, 0, 0, 0.15);
} */

.whiteBorder {
  width: 243px;
  height: 5.5px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  position: absolute;
  /* z-index: 9999999999999999; */
}
.orangeBorder {
  width: 243px;
  height: 5.5px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  position: absolute;
}

.items {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  cursor: pointer;
}

.hr {
  width: 1px;
  height: 20px;
  background-color: #fff;
}

.items a {
  color: #fff;
  text-decoration: none;
}
.items {
  font-size: 0.9em;
}
.navOpen {
  border: none;
  margin-top: 1px;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 5px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.list {
  background-color: #fff;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding: 0;
  border-radius: 0 0 10px 10px;
  top: 31.5px;
  width: 150px;
  z-index: 1;
}

.dropdown:hover .list,
.list:hover {
  opacity: 1;
  visibility: visible;
}

.list li {
  padding: 10px;
}

.list li:hover {
  background-color: #f0f0f0;
}

.list li a {
  text-decoration: none;
  color: #555;
  font: 400 0.8em sans-serif;
}
.list li {
  padding: 5px 0;
  cursor: pointer;
  padding: 5px 10px 5px 0;
}
.list a {
  text-decoration: none;
  color: #555;
  font: 400 0.8em sans-serif;
  padding: 5px 15px;
}
.list li:hover {
  background-color: #eee;
  border-radius: 5px;
}
.list li:hover a {
  color: #ff8300;
}
.resp {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  width: 40%;
  height: 100vh;
  z-index: 999999999;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  padding: 20px;
}

.resp ul {
  z-index: 9999;
}
.navUl a,
.navUl1 a {
  color: #222;
  font-size: 0.8em;
}
.close {
  font-size: 1.2em;
  cursor: pointer;
  padding-right: 10px;
  float: right;
}
.visible1 {
  height: auto;
  visibility: visible;
  animation: slideOut 0.3s forwards;
}
.visibleResp {
  visibility: visible;
  animation: slideIn 0.3s forwards;
  height: 100vh;
}
.hr2 {
  width: 100%;
  height: 0.9px;
  background-color: black;
}
.ulRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ulRow a,
.navUl1 a {
  text-decoration: none;
}
.navUl1,
.navUl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
  cursor: pointer;
}
.navUl:hover .ulRow a {
  color: #ff8300;
}
.navUl1:hover a {
  color: #ff8300;
}
.faminus,
.faplus {
  padding: 2px;
  color: #fff;
}
.faplus {
  background-color: #ff8300;
}
.faminus {
  background-color: #5c5c5c;
}
.nestedUl {
  display: flex;
  flex-direction: column;
}
.nestedUl li {
  cursor: pointer;
}
.nestedUl a {
  text-decoration: none;
  color: #000;
  font: 400 0.6em sans-serif;
  padding: 10px 0;
}
.prof {
  display: none;
}
.down,
.prof {
  cursor: pointer;
}
.deskCatg,
.deskItems {
  display: none;
}
.container1 {
  margin: auto;
  padding-bottom: 2px;
}
.megaMenu {
  display: none;
}
.dropdown:hover .down {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
@media (min-width: 1200px) {
  .container,
  .container1 {
    width: 1200px !important;
  }
  .megaMenu {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 50%;
  }
  .megaMenu a,
  .megaMenu span {
    text-decoration: none;
    color: #fff;
    font: 600 0.85em sans-serif;
  }
  .megaMenu span {
    cursor: pointer;
  }
  .megaMenu span:hover {
    color: #efefef;
  }
}
@media (min-width: 768px) {
  .navOpen {
    display: none;
  }
  .prof {
    display: inline;
  }
  .container,
  .container1 {
    width: 750px;
  }
}
@media (min-width: 990px) {
  .container,
  .container1 {
    width: 970px;
  }
  .respCatg {
    display: none;
  }
  .deskItems {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .deskCatg {
    display: flex;
    background-color: #fff;
    font: 700 1em sans-serif;
    color: #ff8300;
    align-items: center;
    padding: 8px 100px 9px 12px;
    gap: 5px;
    position: relative;
  }
  .hoverCatg {
    display: none;
    width: 242.5px;
    top: 45px;
    left: 0;
    padding: 0;
    position: absolute;
    background-color: #fff;
    z-index: 99999999999999999999999;
  }

  .deskCatg:hover .hoverCatg,
  .hoverCatg:hover .hoverCatg {
    display: flex !important;
  }
  .cartIcon {
    font-size: 0.9em;
  }
  .cartLink:hover .cartIcon {
    color: white;
  }

  .deskCatg:hover .border1 {
    display: none;
  }

  .border {
    width: 244px;
    height: 5px;
    background-color: #ff8300;
    border-radius: 5px 5px 0 0;
  }
  .border1 {
    border-radius: 5px 5px 0 0;
    margin-bottom: 2px;
  }
  .border1,
  .border2 {
    width: 244px;
    height: 5px;
    background-color: #ff8300;
    position: absolute;
    z-index: 9999999999999999;
  }
  .border2 {
    border-radius: 0 0 5px 5px;
  }
}
@media (max-width: 1200px) {
  .megamenu {
    display: none !important;
  }
}
