.carousel-indicators [data-bs-target] button {
  border-radius: 50% !important;
  height: 8px !important;
  width: 8px !important;
  background-color: #fff !important;
  transition: all 0.2s ease 0s;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.carousel-indicators .active {
  background-color: #ff8300 !important;
  width: 30px !important;
  height: 8px;
  /* border-radius: 13px !important; */
}
.carousel-indicators [data-bs-target]:hover {
  cursor: pointer;
  background-color: #ff8300;
}
.carousel-control-next-icon {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  right: 0% !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  color: #ff8300 !important;
  background-color: #f2f2f27d !important;
  height: 100px !important;
  width: 36px !important;
  position: absolute !important;
}
.carousel-control-prev-icon {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 0 !important;
}
.mainCarosuel,
.mainCarosuel img {
  margin: auto;
  width: 99% !important;
}
.carousel-inner {
  border-radius: 10px;
}
.pagination {
  padding: 20px 0;
  max-width: 60%;
  margin: auto;
  color: #ff8300;
}
.pagination .page-item {
  gap: 10px !important;
  border-color: #ff8300;
}
.pagination .page-item a {
  color: #ff8300;
  background-color: #fff;
}

.pagination .active > a {
  background-color: transparent;
  border-color: #ff8300;
  color: #ff8300;
}
.prCarousel .carousel-indicator {
  display: none;
}
.catgCarousel .carousel-indicator {
  color: #fff;
  display: none;
}
/* .slick-list {
  width: 600px;
} */
.catgCarousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.slick-slider {
  width: 730px;
}
@media (min-width: 368px) {
  .slick-slider {
    width: 300px;
  }
  .product {
    width: 100px !important;
  }
  .img img {
    width: 50px;
  }
}
@media (min-width: 368px) {
  .slick-slider {
    width: 320px;
  }
}
@media (min-width: 468px) {
  .slick-slider {
    width: 420px;
  }
}
@media (min-width: 568px) {
  .slick-slider {
    width: 500px;
  }
}
@media (min-width: 668px) {
  .slick-slider {
    width: 630px;
  }
}
@media (min-width: 768px) {
  .slick-slider {
    width: 710px;
  }
}
@media (min-width: 990px) {
  .slick-slider {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .slick-slider {
    width: 740px;
  }
}
.rangeSlider {
  width: 100%;
  height: 10px;
  position: relative;
  background-color: #ddd;
}

.rangeSlider.range {
  position: absolute;
  height: 10px;
  background-color: #ff8300;
}

.rangeSlider.thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff8300;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fff;
}
.range-slider__range,
.range-slider,
.range-slider__thumb {
  background-color: #ff8300 !important;
}
.range-slider__thumb {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fff;
}
.range-slider,
.range-slider__range {
  height: 5px !important;
}

.rangeSlider.thumb:active {
  background-color: #ff8300;
}
.slick-dots {
  visibility: hidden;
}
.slick-arrow {
  font-size: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 50%;
}
.modal-content {
  font-size: 14px;
  line-height: 1.5;
}
