.accPage {
  display: "flex";
  flex-direction: column;
  background-color: #f2f2f2;
}
.accountContainer {
  margin: auto;
}
.accMargin {
  padding-bottom: 50px;
}
.text {
  display: flex;
  align-items: center;
  gap: 5px;
  font: 600 0.8em sans-serif;
  padding: 40px 0;
}
.text a {
  color: #6c6c6c;
  text-decoration: none;
}
.accItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.new {
  background-color: #fff;
  padding: 20px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #dedede;
  height: 60vh;
}
.accItems span {
  font: 600 0.8em sans-serif;
  margin: 15px 0;
  display: block;
}
.accItems p {
  font: 400 0.8em sans-serif;
  line-height: 1.5em;
  margin-bottom: 15px;
}
.new a {
  text-decoration: none;
  color: #fff;
  background-color: #ff8300;
  padding: 5px 20px;
  border-radius: 23px;
  cursor: pointer;
  margin-top: 20px;
}
.new a:hover {
  background-color: #e97901;
}
.new input {
  outline: none;
  border: none;
  padding: 9px;
  border-radius: 10px;
  width: 100%;
  margin: 10px 0;
  background-color: #f2f2f2;
}
.rightIcon {
  color: #6c6c6c;
  font-size: 0.8em;
}
@media (max-width: 768px) {
  .accountContainer {
    width: 95%;
  }
  .new {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .accountContainer {
    width: 95%;
  }
}
@media (min-width: 768px) {
  .accItems {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}

@media (min-width: 990px) {
  .accountContainer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .accountContainer {
    width: 1200px;
  }
  .new {
    width: 30%;
  }
}
